/************************************* START OF HOMEPAGE ***************************************************************/

/*<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 992px) {
  .nav-link {
    color: var(--font-color-7) !important;
    font-size: large;
  }
   
}

@media (max-width: 991px) {
  .navbar {
    background-color: var(--color-bg);
    opacity: 1;
  }
  .nav-link {
    color: var(--font-color-5) !important;
    font-size: large;
  }
}

  
/* @font-face {
  font-family: adie;
  src: url(./fonts/quentin.woff);
} */

@import url('https://fonts.cdnfonts.com/css/quentin');

:root {
  --font-color: #ffffff;
  --font-color-2: #010101;
  --font-color-3: #333333;
  --font-color-4: #EFEFEF;
  --font-color-5:#e1e1e1;
  --font-color-6:#383838;
  --font-color-7:#f05a1a;
  --font-color-8:#ff7337;
  --font-color-9:#e1e1e1;
  --color-bg: #727271c1;
  --primary-color: #BFACE2;
  --accent-color: #655DBB;
  --tertiary-color: #3E54AC;

  --small-font-size: 0.6rem;
  --normal-font-size: 1rem;
  --header-font-size: 1.5rem;
  --title-font-size: 5.5rem;
  --title-font-size2: 8rem;
  --light-weight: 300;
  --normal-weight: 400;
  --semi-bold: 500;
  --header-weight: 600;
  --title-weight: 700;
  --subrayada: 'Monstserrat Subrayda', sans-serif;
  --button-radius: 0.2rem;
 }

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar ul li {
  list-style-type: none;
  }


.nav-link.active,
.nav-link:hover {
  
  color:var(--font-color-4) !important;
}




.navbar-toggler {
  width: 1rem;
  height: 1rem;
  position: relative;
  transition: 0.5s ease-in-out;
  
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-color: var(--font-color-7);
  border-radius: 0.063rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-toggler {
  margin-top: 0;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-toggler {
  position: absolute;
  top: 0;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-toggler {
  opacity: 1;
  position: absolute;
  top: 0.63rem;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-toggler {
  position: absolute;
  top: 1.2rem;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-toggler {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-toggler {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-toggler {
  top: inherit;
  transform: rotate(-135deg);
}



/*<<<<<<<<<<<< END OF NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<<<<< TITLE AND VIDEO STYLING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.title {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s infinite alternate, filling 5s ease-in forwards;
  font-size: 80px;
}

.title text {
  font-weight: bolder;
  font-style: normal;
}

@keyframes dash {
  to {
    stroke-dashoffset: 5;
  }
}

@keyframes filling {
  0%, 90% { fill: var(--font-color) ; fill-opacity: 0; }
  100% { fill: var(--font-color); fill-opacity: 1; }
}

.title-container {
    text-align: center;
  position: absolute;
      /* top: 15rem;
    left: 12rem; */
    padding: 1rem;
  }
  
  i {
    color: white;
  }
  .title {
    font-size: var(--title-font-size2);
    font-weight: var(--title-weight);
    /* font-family: adie, sans-serif !important; */
    font-family: 'Quentin', sans-serif;
    text-transform: capitalize;
    color: white;
  
    
    transition: 0.5s ease-in-out;
    cursor: default;
    min-width: 320px;
  }
  .title:hover {
    color: black;
  }
  
  .title-button {
    padding: 1rem 1.5rem;
    margin: 2.5%;
    background-color: transparent;
    border: 0.1rem solid var(--font-color-7);
    color: var(--font-color);
    font-size: var(--normal-font-size);
    text-transform: capitalize;
    cursor: pointer;
    border-radius: var(--button-radius);
  }
  .title-button:hover {
    color: var(--font-color-2);
    background-color: var(--font-color);
    transition: 0.5s ease-in-out;
  }
  


  .home-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
  }
  
  .title-container {
    text-align: center;
  }

  /* Styles for video element */
.home-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
  .home-container .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  
  
  @media screen and (max-width: 991px) {
    /* Hide video element */
    .home-container video{
      display: none;
    }
    
   
    .home-container .background-img
     {
      display: flex;
    }
  }

  
  /*<<<<<<<<<<><< END OF TITLE AND VIDEO STYLING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  
  /*<<<<<<<<<<<<<<<<<<<<<<<<< HOME PAGE FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  
  .sns-icons-dropdown{
    font-size: 1rem;
    color: var(--font-color-8) !important;
    padding: 0 0.5rem 0 0.5rem;
  }

  .home-footer {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--font-color);
    font-size: 1rem;
  }
  
  .home-footer ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 1rem;
  }
  
  .home-footer ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: var(--header-weight);
    cursor: pointer;
  }
  .sns-icons {
    width: 40%;
    height: 40%;
    cursor: pointer;
  }
  
  .home-footer ul li a:hover {
    border-bottom: 0.1rem solid var(--color-bg);
    transition: width 2s;
  }
  
  .home-footer ul li a:hover::after {
    width: 100%;
    border-bottom: 0.1rem solid var(--font-color);
    transition: width 2s;
  }
  
  .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: var(--small-font-size);
    color: var(--font-color);
    padding: 1.3rem 1.5rem;
    display: flex;
    justify-content: end;
  }

  
 
/************************************* END OF HOMEPAGE ***************************************************************/



/************************************* START OF DISCOGRAPHYPAGE ***************************************************************/
.discography-page{
  background-color: var(--font-color-6) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--font-color);
  
}
/*<<<<<<<<<<><< START OF SECTION 1 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


.album-container{
  margin-top:10em ;
  margin-left: 5rem;
  }
 
  .album-details {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  } 
  .album-details ol{
    padding-left: 0;
    margin: 0;
  
  }


    
    .icons {
      display: flex;
      justify-content: center;
      margin-top: 20px;

    
    }
    
    .icons i {
      color: var(--font-color-2) !important;
      font-size: 1.2rem;
    } 
    .icons a {
      color: var(--font-color-2) !important;
      font-size: 1.2rem;
    }
    .icons .btn {
      margin: 0 10px;
      border-radius: 50%;
      background-color: var(--font-color);
      color: var(--font-color-2) !important;
    }
  

    .modal-content {
      background-color: transparent;
      border: none;
    }
    
    .modal-body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: transparent;
    }
    
    #modal-image {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      border-radius: 80%;
    } 
    
    .btn-close{
background-color: var(--font-color);

    }

    /*<<<<<<<<<<><< END OF SECTION 2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  
    /*<<<<<<<<<<><< START OF SECTION 2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
    
    
    #thumbnail-gallery {
      padding: 40px 0;
    } 
   .album-title{
      text-align: center;
      margin-top: 5rem;
      color: var(--font-color-7);
     
    }
    
    #thumbnail-gallery .col {
      margin-bottom: 20px;
      margin-right: 5rem;
      margin-top: 5rem;
  
    }
    
    #thumbnail-gallery img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  
  
     .row{
      justify-content: center;
      align-items: center;
     }
  
     /************************************* END OF DISCOGRAPHY PAGE ***************************************************************/

     /************************************* START OF VIDEO PAGE ***************************************************************/

     .videos-page{
      background-color: var(--font-color-6) !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: var(--font-color);
      
    }




     
     /************************************* END OF VIDEO PAGE ***************************************************************/
 
     .myCarousel{
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto;
    }
    
    .hero-vid{
      justify-content: center;
      justify-content: center;
      align-items: center;
    }






/************************************* START OF ABOUTPAGE ***************************************************************/

.about-page{

    background-color: var(--font-color-6)!important;
  

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--font-color-2);
    
}

.about-title{
  font-family: 'Quentin', sans-serif !important;
  color: var(--font-color-8);
}
h5{
  color: var(--font-color-9);
}




/************************************* END OF ABOUTPAGE ***************************************************************/


/************************************* START OF GALLERY PAGE ***************************************************************/

.gallery-page{
  background-color: var(--font-color-6) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--font-color);
  
}
.gallery-image {
  position: relative;
  overflow: hidden;
}

.gallery-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.gallery-image:hover::before {
  opacity: 1;
}

.gallery-image::after {
  content: 'View Image';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.gallery-image:hover::after {
  opacity: 1;
}


/************************************* END OF GALLERY PAGE ***************************************************************/


/************************************* START OF BOOKINGS PAGE ***************************************************************/

.bookings-page{
  background-color: var(--font-color-6) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--font-color-9);
  
}

.bookings-title{
  color: var(--font-color-8);
  font-family: 'Quentin', sans-serif;;
}
.send-button {
  padding: 1rem 1.5rem;
  margin: 2.5%;
  background-color: transparent;
  border: 0.1rem solid var(--font-color-7);
  color: var(--font-color);
  font-size: var(--normal-font-size);
  text-transform: capitalize;
  cursor: pointer;
  border-radius: var(--button-radius);
}
.send-button:hover {
  color: var(--font-color-2);
  background-color: var(--font-color);
  transition: 0.5s ease-in-out;
}

.form-control, .calendar{
  background-color: var(--font-color) !important;
  border-color: var(--font-color-7);
}

.container-forms{
  margin-top: 6rem;
}
.form-image{
  margin-top: 5rem;
}

.contact-title{
  display: flex;
justify-content: center;
}
.main-footer{

    position: relative;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--font-color);
    background-color: var(--font-color-3) !important;
    font-size: 1rem;
}
.main-footer ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 0 0 1rem;
}

.main-footer ul li a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1rem;
  font-weight: var(--header-weight);
  cursor: pointer;
}


.main-footer ul li a:hover {
  border-bottom: 0.1rem solid var(--color-bg);
  transition: width 2s;
}

.main-footer ul li a:hover::after {
  width: 100%;
  border-bottom: 0.1rem solid var(--font-color);
  transition: width 2s;
}
/************************************* END OF BOOKINGS PAGE ***************************************************************/